@media (max-width: 600px) {
  .text-container {
    font-size: 1.5rem;
  }

  .yes-button,
  .no-button {
    width: 50px;
    height: 50px;
  }

  .yes-button:before,
  .yes-button:after,
  .no-button:before,
  .no-button:after {
    width: 50px;
    height: 100px;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.yes-button {
  animation: heartbeat 2s infinite;
}

.valentine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* Custom class for Yes button styles */
.yes-button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ffccd5; /* bg-green-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 8px 16px; /* py-2 px-4 */
  border-radius: 50%; /* rounded */

  padding: 8px 16px; /* py-2 px-4 */
  border-radius: 8px; /* rounded */
  position: relative;
  margin-right: 8px; /* mr-4 */
}

.yes-button:hover {
  background-color: #ff5c8a; /* hover:bg-green-700 */
}

/* Custom class for No button styles */
.no-button {
  background-color: #1f0c0c; /* bg-red-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 8px 16px; /* py-2 px-4 */
  border-radius: 8px; /* rounded */
}

.no-button:hover {
  background-color: #c82333; /* hover:bg-red-700 */
}
/* Custom class for text-4xl my-4 container */
.text-container {
  font-size: 2.25rem; /* Equivalent to text-4xl in tailwindcss */
  margin-top: 1rem; /* Equivalent to my-4 in tailwindcss */
  margin-bottom: 1rem; /* Equivalent to my-4 in tailwindcss */
}

.centered-container {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  height: 100vh;
  margin: 0;
}

.github-link {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #007bff; /* Set the color as needed */
  text-decoration: none;
}

body {
  background-color: #c09494; /* Example: soft pink color for Valentine's theme */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}
